.topnav {
    background-color: rgb(0, 113, 179);
    overflow: hidden;
    }

    .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }

    .topnav a:hover {
    background-color: rgb(45, 23, 141);
    color: rgb(191, 247, 255);
    }

    .topnav a.active {
    background-color: #007052;
    color: white;
    }

    .topnav .icon {
    display: none;
    }

body {
    background: url("https://i.pinimg.com/originals/72/8c/c2/728cc2a4eea4d7b0355adc43d40f8129.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
}

.flex-container {
    display: flex;
    padding: 80px 80px;
    flex-flow: column wrap; 
}

.Textbox1 {
    border: 8px solid cornflowerblue;
    background: url("https://st4.depositphotos.com/6766758/22656/v/600/depositphotos_226567064-stock-video-top-view-calm-turquoise-sea.jpg");
    background-size: 100%;
    color: white;
    text-shadow: 2px 2px black;
    margin: 5px;
    height: 300px;
    width: 1300px;
}

.Textbox1 img {
    float: right;
    max-width: 100%;
    max-height: 300px;
    margin: auto;
}

.Textbox2 {
    border: 8px solid cornflowerblue;
    background: url("https://st4.depositphotos.com/6766758/22656/v/600/depositphotos_226567064-stock-video-top-view-calm-turquoise-sea.jpg");
    background-size: 100%;
    color: white;
    margin: 5px;
    height: 300px;
    width: 1300px;
    text-shadow: 2px 2px black;
}

.row {
        display: flex;
        flex-direction: row;
        border: 8px solid cornflowerblue;
        background: url("https://st4.depositphotos.com/6766758/22656/v/600/depositphotos_226567064-stock-video-top-view-calm-turquoise-sea.jpg");
        background-size: 600%;
        color: white;
        text-shadow: 2px 2px black;
        margin: 5px;
        height: 460px;
        width: 300px;
    }
  
    .item {
        flex: 1 1 20%;
    }
  
    .item:first-child {
        padding-left: 0;
    }
  
    .item {
        display: flex;
        flex-direction: column;
    }
  
    .item-heading {
        flex: 1;
    }
    .item img {
        width: 100%;
        height: 80%;
        border: 2px 2px cornflowerblue;
        box-shadow: 2px 2px black;
    }

    .item-heading {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

.gallery {
    flex-direction: row;
    display: flex;
}